<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".LightLedgerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightLedger">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.LightLedgerWidgetProvider"
            android:exported="true"
            android:label="@string/widget_label_compact">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/light_ledger_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.LightLedgerLightWidgetProvider"
            android:exported="true"
            android:label="@string/widget_label_compact_light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/light_ledger_widget_light_info" />
        </receiver>

        <receiver
            android:name=".widget.LightLedgerMediumWidgetProvider"
            android:exported="true"
            android:label="@string/widget_label_medium">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/light_ledger_widget_medium_info" />
        </receiver>

        <receiver
            android:name=".widget.LightLedgerMediumLightWidgetProvider"
            android:exported="true"
            android:label="@string/widget_label_medium_light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/light_ledger_widget_medium_light_info" />
        </receiver>

        <receiver
            android:name=".widget.LightLedgerLargeWidgetProvider"
            android:exported="true"
            android:label="@string/widget_label_large">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/light_ledger_widget_large_info" />
        </receiver>

        <receiver
            android:name=".widget.LightLedgerLargeLightWidgetProvider"
            android:exported="true"
            android:label="@string/widget_label_large_light">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/light_ledger_widget_large_light_info" />
        </receiver>

        <receiver
            android:name=".widget.WidgetRefreshReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
